<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Add a New Restaurant</h1>
        <%= render "form", restaurant: @restaurant %>
    </div>
  </div>
</div>



